
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.post_text {
	font-size: 20px;
	line-height: 30px;
}


.logout {
	padding: 0;
	background: transparent;
	border: none;
	// display: inline-block;
	font-size: 15px;
	margin-top: 10px;
	color: grey; 
}

.buttons {
	padding-bottom: 25px; 
	text-align: center;

	#edit-button {
		border: 1px solid $brand-primary;
		border-radius: 5px;
		background: $brand-primary;
		color: white;
		padding: 10px 15px;
	}

	#delete-button {
		border: 1px solid $brand-danger;
		border-radius: 5px;
		background: $brand-danger;
		color: white;
		padding: 8px 15px;
	}
}

.buttons-dash {
	padding-bottom: 25px; 

	#edit-button {
		border: 1px solid $brand-primary;
		border-radius: 5px;
		background: $brand-primary;
		color: white;
		padding: 10px 15px;
	}

	#delete-button {
		border: 1px solid $brand-danger;
		border-radius: 5px;
		background: $brand-danger;
		color: white;
		padding: 8px 15px;
	}
}

.dashboard {
	
	li {
		list-style: none;
	}

}